.projects {
  padding: 15vw 0;
  background: var(--white);
}

.statement {
  font-size: var(--font-small);
  max-width: 17em;
  line-height: 1.25;
  margin: 10vw auto 25vw;
  padding: 0 1.4rem;
}

.intermittentStatement {
  max-width: 21em;

  p {
    margin-bottom: 26px;
  }

  :global(a) {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: black;
    }
  }
}

.title {
  max-width: 17em;
  line-height: 1.375;
  padding: 16px 22px 0;
}

.thumbnail {
  display: block;
  margin-bottom: 15vw;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    opacity: 0.9;
  }
}

.media {
  position: relative;
  width: 100%;
  background: var(--off-white);

  & video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// Force overwrite the inline programmeticly set styles for small screens/mobile
@media (max-width: 480px) {
  .projects {
    padding: 0 0 15vw;
  }

  .thumbnail {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  .statement {
    margin: 100px auto 100px;
  }
}

@media (min-width: 480px) {
  .statement {
    font-size: var(--font-med);
    margin: 0 auto 15vw;
    padding: 0 32px;
  }
}

@media (min-width: 1152px) {
  .statement {
    font-size: var(--font-large);
  }
}
