.container {
  --width: 300px;
  width: var(--width);
  height: 1em;
  position: relative;
  margin: 0 40px 0 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Custom size */
  font-size: 14px;
  letter-spacing: 0.56px;

  .back::before,
  .back::after,
  .progress::after {
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .back::before,
    .back::after,
    .progress::after {
      opacity: 1;
    }
  }
}

.back {
  background-color: rgba(255 255 255 / 0.4);
  width: 100%;
  height: 1px;
  pointer-events: none;

  &::before {
    position: absolute;
    left: 0%;
    top: 50%;
    color: white;
    opacity: 0;
    content: attr(data-hover-offset);

    --position: calc(var(--width) * var(--hover-offset));
    --contain-within-bounds: clamp(0px, var(--position), var(--width) - 100%);
    transform: translateX(var(--contain-within-bounds));
  }

  &::after {
    position: absolute;
    left: 100%;
    top: 50%;
    color: white;
    content: attr(data-duration);
    opacity: 0;
    transform: translateY(-50%) translateX(4px);
  }
}

.progress {
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  pointer-events: none;

  &::before {
    transform: scaleX(var(--progress));
    background-color: white;
    transition: transform 0.01s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    transform-origin: left;
    content: "";
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 100%;
    color: white;
    content: attr(data-current-time);
    opacity: 0;

    --move-with-progress-bar: calc((var(--width) * var(--progress)) - 100%);
    --contain-within-bounds: clamp(0px, var(--move-with-progress-bar), var(--width) - 100%);
    transform: translateY(-2px) translateX(var(--contain-within-bounds));
  }
}
