.wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-left: 1rem;
  padding-bottom: 24px;
  font-size: 17px;

  button,
  a {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    width: 7rem;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  &.hasInvertedColors {
    button,
    a {
      color: black;
    }
  }

  .muteToggle {
    margin-left: 590px; // Progress bar width
  }

  .playToggle {
    width: 4rem;
  }
}
.pullRight {
  display: flex;
  margin-left: auto;
  margin-right: 0;

  a,
  button {
    text-align: right;
  }
}
