.backScrim {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background: rgb(191, 191, 191);
  background: linear-gradient(
    rgba(191, 191, 191, 0),
    rgba(191, 191, 191, 0.3),
    rgba(191, 191, 191, 1)
  );
  background: linear-gradient(
    rgba(191, 191, 191, 0) 0%,
    rgba(191, 191, 191, 1) 45%,
    rgba(191, 191, 191, 1) 100%
  ); /* w3c */
  .backButton {
    position: absolute;
    bottom: 1.4rem;
    left: 1.4rem;
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
  }
}
