
.wrapper {

}

.serviceBlock {
  display: flex;
  flex-direction: column;
  width: 30%;

  & > div {
    position: relative;
    flex: 1;
  }

  h3 {
    font-size: var(--font-med);
    text-transform: uppercase;
  }

  p {
    font-size: calc(var(--font-med) - 3px);
  }
}
