.wrapper {
  @media (min-width: 48rem) {
    display: flex;
    flex-flow: wrap;
  }
}

.header {
  font-size: var(--px-font-med);
  font-weight: normal;
  margin-bottom: 80px;
  padding: 0 24px 0;

  @media (min-width: 48rem) {
    margin-left: 120px;
    margin-bottom: 160px;
  }

  @media (min-width: 68rem) {
    font-size: var(--font-large);
    margin-left: 220px;
  }
}

.copyWrapper {
  margin-bottom: 32px;
  padding: 32px 24px 0;

  h3 {
    font-size: var(--px-font-small);
    font-weight: normal;
    max-width: 380px;
    margin-bottom: 20px;
  }

  p {
    max-width: 420px;
    font-size: var(--px-font-xxs);
    line-height: 22px;
  }

  @media (min-width: 48rem) {
    padding: 0;

    h3 {
      margin-bottom: 36px;
      font-size: var(--px-font-med);
    }

    p {
      font-size: var(--px-font-xs);
      line-height: 34px;
    }
  }
}

//  width and margin changes for mobile
.serviceBlock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 96px;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    width: 80%;
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    .copyWrapper {
      padding-left: initial;
    }
  }

  &:nth-of-type(2) {
    margin-left: 20%;
  }

  &:nth-of-type(3) {
    width: 75%;
    margin-left: 5%;
  }

  @media (min-width: 48rem) {
    flex-direction: row;
    margin: 0;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      align-items: center;
    }

    &:nth-of-type(1) {
      flex-direction: row-reverse;

      .copyWrapper {
        margin-right: auto;
        padding-left: 120px;
      }

      .imageWrapper {
        width: 40%;
      }
    }

    &:nth-of-type(2) {
      margin: 0 120px 250px;

      .copyWrapper {
        margin: 0 120px 0 auto;
        transform: translate3d(0, 90%, 0);
      }

      .imageWrapper {
        width: 38%;
      }
    }

    &:nth-of-type(3) {
      flex-direction: column-reverse;
      width: 33%;
      margin: auto;

      .copyWrapper {
        margin-top: 56px;
      }

      .imageWrapper {
        width: 100%;
      }
    }
  }
}
