.title {
  @mixin body-4;
  max-width: 17em;
  padding: 16px 22px 0;
  margin-left: 1.4rem;

  @media (min-width: 480px) {
    padding: 10px 0;
  }

  @media (min-width: 864px) {
    @mixin body-3;
  }

  @media (min-width: 1152px) {
    @mixin body-2;
  }

  @media (max-width: 450px) {
    br {
      display: none;
    }
  }
}

.thumbnail {
  display: block;
  margin-bottom: 15vw;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:first-of-type {
    margin-top: 0 !important;
  }

  &:hover {
    opacity: 0.9;
  }
}

.media {
  position: relative;
  width: 100%;
  background: var(--off-white);

  :global(div) {
    max-width: none !important;
  }
  & video {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
  }
}

@media (max-width: 480px) {
  .thumbnail {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  .title {
    margin-left: 0 !important;
  }
}
