.project {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  border-radius: 16px;
}

.image {
  margin: 0;
}

.title {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin: 0;

  h3 {
    @mixin body-3;
    @media (--tablet) {
      @mixin body-2;
    }
  }
}

.inProgress {
  @mixin body-4;
  position: relative;
  padding-left: 1.5em;
  color: rgba(102, 102, 102, 1);

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0.75em;
    width: 0.75em;
    background-color: rgba(102, 102, 102, 1);
    border-radius: 50%;
    content: '';
  }
}


.tags {
  @mixin body-4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  padding: 0;

  @media (--tablet) {
    max-width: 66%;
  }

  .tag {
    padding: 6px;
    border-radius: 3px;
    line-height: 1;
    color: rgba(102, 102, 102, 1);
    background: rgb(247, 247, 247);
  }
}

.summary {
  @mixin body-4;
  margin: 0;
  color: black;
}

.link {
  @mixin body-4;
  margin: 0;
  color: black !important;
}

.linkContainer {
  display: contents;
}
