root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{html,xml,js,scss,md}]
indent_style = space
indent_size = 2

[*.{json,frag,vert,glsl}]
indent_style = space
indent_size = 2
