/*
 It would be better to animate scale property, but this doesn't correctly trigger
  canvas resize in R3F. We're using width and height instead.
*/

.canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: all;
  width: calc(100vw * var(--wonder-scale));
  height: calc(100vh * var(--wonder-scale));

  transform-origin: bottom right;
  transition: width 0.3s, height 0.3s;
  contain: strict;

  &.isFocused {
    width: 100vw;
    height: 100vh;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
