.projects {
  padding: 15vw 0;
  background: #f8f8f8;
}

.statement,
.intermittentStatement {
  font-size: var(--font-small);
  line-height: 1.25;
  margin: 10vw auto 25vw;
  padding: 0 1.4rem;
}

.statement {
  max-width: 17em;
}

.intermittentStatement {
  max-width: 21em;
  p {
    margin-bottom: 1.6rem;
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #000;
    }
  }
}

.title {
  max-width: 17em;
  line-height: 1.375;
  padding: 1rem 1.4rem 0;
}

.thumbnail {
  display: block;
  margin-bottom: 15vw;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    opacity: 0.9;
  }
}

.media {
  position: relative;
  width: 100%;
  background: #eee;

  & img,
  & video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 30rem) {
  .statement,
  .intermittentStatement {
    font-size: var(--font-med);
    padding: 0 2rem;
  }

  .statement {
    margin: 0 auto 15vw;
  }

  .intermittentStatement {
    margin-bottom: 0;
  }

  .title {
    padding: 0.6rem 0;
    font-size: var(--font-small);
  }
}

@media (min-width: 72rem) {
  .statement,
  .intermittentStatement {
    font-size: var(--font-large);
  }

  .title {
    font-size: 1.6rem;
  }
}
