.recruitee {
  margin: 0 -1.4rem 6rem;
  padding: 0 1.6rem;
  font-size: var(--font-small);

  @media (min-width: 36rem) {
    font-size: var(--font-med);
    margin-bottom: 8rem;
  }

  @media (min-width: 50rem) {
  }
}

.list {
    margin: 0;
    padding: 0.8rem 0 0.6rem;
    list-style: none;
}

.item {
  margin-bottom: 2rem;

  @media (min-width: 36rem) {
    margin-bottom: 3rem;
  }
}

.open-roles {
  color: #ff0000;
  margin-bottom: 2rem;

  @media (min-width: 36rem) {
    margin-bottom: 3rem;
  }

  @media (min-width: 50rem) {
    flex: 1;
    max-width: 45%;
  }
}

.department {
  font-size: var(--font-xs);
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @media (min-width: 36rem) {
    font-size: var(--font-small);
  }
}

.role {
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(black, black);
  background-size: 0.05em 1px, 0.05em 1px, 1px 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 87%, 100% 87%, 0 100%;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    transition: opacity 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
  }
}
