@import '../../../styles/mixins';

.video {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  & video {
    @media screen and (orientation: landscape) {
      width: 100%;
      height: auto;
    }

    @media screen and (orientation: portrait) {
      height: 100%;
      width: auto;
    }

    // Microsoft Edge (pre-chromium) supports object-fit: cover only on img tags, but
    // CSS (obviously) has no concept of element type.
    @supports (object-fit: cover) and (not (-ms-ime-align: auto)) {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.featured-author {
  @include blendedText;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 16px 22px;
}

.credits-logo,
.logo {
  font-family: 'Larish Neue', serif;
  letter-spacing: -0.01em;
}

.logo {
  @include blendedText;
  position: absolute;
  left: 22px;
  font-size: var(--font-logo-small);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;

  &.is-center {
    top: 40vh;
  }

  &.is-top {
    top: 104px;
  }
}

@media (min-width: 576px) {
  .featured-author {
    text-align: right;
  }

  .logo {
    left: 64px;

    &.is-center {
      font-size: var(--font-logo-medium);
    }
  }
}

@media (min-width: 864px) {
  .logo {
    right: 0;
    left: 0;
    max-width: 768px;

    &.is-center {
      margin: 0 auto;
      padding-left: 64px;
    }

    &.is-top {
      margin: 0;
      padding-left: 38px;
    }
  }
}

@media (min-width: 1152px) {
  .logo {
    max-width: 1152px;

    &.is-center {
      font-size: var(--font-logo-large);
    }
  }
}
