.video {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.featured-author {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  color: white;
  padding: 1rem 1.4rem;
  mix-blend-mode: difference;
}

.credits-logo,
.logo {
  font-family: "Larish Neue", serif;
  letter-spacing: -0.01em;
}

.logo {
  position: absolute;
  left: 1.4rem;
  font-size: var(--font-logo-small);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;
  mix-blend-mode: difference;
  color: white;

  &.is-center {
    top: 40vh;
  }

  &.is-top {
    top: 6.5rem;
  }
}

@media (min-width: 36rem) {
  .featured-author {
    text-align: right;
  }

  .logo {
    left: 4rem;

    &.is-center {
      font-size: var(--font-logo-medium);
    }
  }
}

@media (min-width: 54rem) {
  .logo {
    right: 0;
    left: 0;
    max-width: 48rem;

    &.is-center {
      margin: 0 auto;
      padding-left: 4rem;
    }

    &.is-top {
      margin: 0;
      padding-left: 2.4rem;
    }
  }
}

@media (min-width: 72rem) {
  .logo {
    max-width: 72rem;

    &.is-center {
      font-size: var(--font-logo-large);
    }
  }
}
