@import '../../../styles/mixins';

.video {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.featured-author {
  @include blendedText;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  color: black;
  padding: 1rem 1.4rem;
}

.logo {
  font-family: "Larish Neue", serif;
  letter-spacing: -0.01em;
}

h1.logo {
  @include blendedText;
  position: absolute;
  left: 1.4rem;
  top: 40vh;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;
}

@media (min-width: 36rem) {
  .featured-author {
    text-align: right;
  }

  h1.logo {
    left: 4rem;
    font-size: 5rem;
  }
}

@media (min-width: 54rem) {
  h1.logo {
    right: 0;
    left: 0;
    max-width: 48rem;
    margin: 0 auto;
    padding-left: 4rem;
  }
}

@media (min-width: 72rem) {
  h1.logo {
    max-width: 72rem;
    font-size: 5.6rem;
  }
}
