.container {
	width: 100%;
	z-index: 10;
}

.scrubberContainer {
	position: relative;
	height: 100%;
	font-family: var(--mono-font);
	font-size: 12px;
	cursor: pointer;


	& > span {
		display: inline-block;
		position: absolute;
		bottom: 0;
		background-color: var(--white);
		color: var(--white);
		
		&:nth-of-type(1) {
			width: 1px;
			height: 4px;
			left: 0;
			
			&::after {
				content: "AMS";
				position: absolute;
				top: -1.6em;
				left: 0;
				user-select: none;
			}
		}

		&:nth-of-type(2) {
			height: 1px;
			width: 100%;
			bottom: 0;
		}

		&:nth-of-type(3) {
			width: 1px;
			height: 4px;
			right: 0;

			&::after {
				content: "PAR";
				position: absolute;
				top: -1.6em;
				right: 0;
				user-select: none;
			}
		}
	}
}

.scrubber {
	position: relative;
	width: calc(100% - 80px);
	left: 28px;
}

.thumbnail, .thumbnailInteractive {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;

	width: 20px;
	height: 20px; // double of the scrubber height

	background-color: var(--white);
	color: var(--white);
	border: 1px solid var(--white);
	
	p  {
		position: absolute;
		user-select: none;
		touch-action: none;
		text-align: center;
		text-transform: uppercase;
		width: max-content;
		bottom: -120%;
		left: 50%;
		transform: translate3d(-50%, 0 , 0);
	}
}

.thumbnail {
	// touch-action: none; // Prevent glitching on touch devices - react use gesture
	touch-action: pan-y; // Prevent glitching on touch devices - react use gesture

	// pointer-events: none;
}

.thumbnailInteractive {
	cursor: grab;
	z-index: 11;
	
	// Do not target (most) touch devices like this
	@media(pointer: fine)  {
		&::before {
			content: "<<< >>>";
			width: max-content;
			height: 100%;
			position: absolute;
			// background: red;
			transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
			// z-index: inherit;
			opacity: 0;
		}
		
		&:hover::before {
			transform: translateY(-100%);
			opacity: 1;
		}
	}

}