.scrollContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
  margin-left: calc(-1 * var(--side-padding));
  padding-left: 20px;
  padding-right: 20px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;

  @media(--tablet) {
    margin-left: calc(-1 * var(--side-padding-raw));
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
  }

  &:not(.hasScroll) {
    justify-content: center;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
