.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 448px;
  order: 1;
  margin-bottom: 32px;

  @media (min-width: 864px) {
    width: auto;
    max-width: none;
    order: 2;
    margin-bottom: 0;
    margin-right: 64px;
  }

  @media (min-width: 1152px) {
    margin-right: 192px;
  }
}

.title {
  margin-bottom: 8px;
}

.input {
  min-width: 224px;
  background-color: transparent;
  border: none;
  padding: 0 0 3.2px;
  outline: none;
  border-bottom: 1px solid black;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 9.6px;
  margin-top: 4px;
}

.submit {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 8px;
}

.check {
  margin-bottom: 4px;
}
