.container {
  position: relative;
  margin-bottom: 32px;
}

.title {
  @mixin body-4;
  margin-bottom: 12px;
}

.input {
  @mixin body-4;
  min-width: 100%;
  background-color: transparent;
  border: none;
  padding: 0 0 12px;
  outline: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.error {
  @mixin body-4;
  position: absolute;
  top: 100%;
  color: red;
}

.submit {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 32px;
  right: 0;
}

.check {
  margin-bottom: 4px;
}
