.filters {
  padding-top: 230px;
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 315px;
    user-select: none;
  }
}

.filterEntry {
  display: block;
  cursor: pointer;
  padding: 20px;

  &:hover {
    opacity: 0.75;
    transition: opacity 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
  }

  &:not(.activeTag) {
    color: #d0d0d0;
  }

  &:not(.activeFilter) {
    color: black;
  }
}

.filterCount {
  color: #d0d0d0;
}

.accordion {
  padding-top: 315px;
  padding-bottom: 50px;
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 230px;
  }
}

.accordionEntry {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.accordionLabel {
  text-align: center;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.accordionIcon {
  display: inline;
  margin-left: 20px;
}

.icon {
  display: inline;
  position: absolute;
  top: 16px;

  @media (min-width: 450px) {
    top: 20px;
  }
}
