@mixin blendedText($color: var(--white), $mode: difference) {
  color: var(--black);

  @supports (mix-blend-mode: difference) {
    color: var(--white);
    mix-blend-mode: difference;
  }

  // Workaround for bug in iPad Pros (only 12.9 inch, likely GPU related?) where mix-blend-mode is never reapplied after first paint.
  // This means blending is lost after orientation change.
  // As a fix, we will remove the blendmode on landscape orienation change resulting in atleast one orientation working correctly.
  // This is accomplished through optional parameters.
  // This works because each time the orientation changes a forceful assignement will be done.
  // As a result the blend-mode will be re-assigned resulting a correct behaviour, albeit for just one orientation (landscape).
  @media only screen and (min-width: 1365px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) and (hover: none) {
    color: $color;
    mix-blend-mode: $mode;
  }
}
