@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-Thin.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-Thin.woff") format("woff");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-ThinItalic.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-ThinItalic.woff") format("woff");
  font-display: swap;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-Light.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-LightItalic.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-LightItalic.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-Regular.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-RegularItalic.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-RegularItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-Medium.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-MediumItalic.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-MediumItalic.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-Bold.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oracle";
  src: url("/fonts/Oracle/ABCOracle-BoldItalic.woff2") format("woff2"),
    url("/fonts/Oracle/ABCOracle-BoldItalic.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100svh;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

img,picture,video {
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
}
/* End reset */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

:root {
  --color-background: #ffffff;
  --color-foreground: #F7F7F7;
  --color-link: #BEC0C5;

  --spacing-5: 0.3125rem;
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-50: 3.125rem;
  --spacing-60: 3.75rem;
  --spacing-80: 5rem;

  --gutter: 15px;

  --max-width: 1440px;
}

body {
  @mixin body;
}

a {
  color: var(--color-link);
}

h1,h2,h3,h4,h5,h6,p {
  text-box: trim-both cap alphabetic;
}