@import "./reset.css";
@import "./vars.css";

@font-face {
  font-family: "Random Regular";
  src: url("/fonts/Random-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Larish Neue";
  src: url("/fonts/LarishNeueSemiboldRegSubsetted.woff2") format("woff2");
}

html,
body {
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

body {
  font-family: "Random Regular";
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin: 0;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: inherit;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover {
  opacity: 0.5;
  transition: opacity 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

::selection {
  background: rgba(255, 255, 0, 0.3);
  filter: invert(100%);
}

.prevent-scroll {
  overflow: hidden;
  pointer-events: none;
}

.screen-reader-only {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    color: black;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
}

button,
[type="submit"] {
  cursor: pointer;
}

@media (min-width: 480px) {
  body {
    font-size: 22px;
  }
}

/* Babylon inspector should be on top of anything */
#scene-explorer-host,
#inspector-host {
  z-index: 99999;
}

/* Used to add a title inside of a project caption text block */
.content-section-title {
  line-height: 1.3;
  font-weight: normal;
  font-size: var(--font-small);
  margin-bottom: 1em;
}

/* Used to add extra padding around a project caption text block */
.content-section-padding {
  margin-top: 15%;
  margin-bottom: 15%;
}

@media (min-width: 576px) {
  .content-section-title {
    font-size: var(--font-med);
  }

  .content-section-padding {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media (min-width: 1152px) {
  .content-section-title {
    max-width: 1024px;
    font-size: var(--font-large);
  }

  .content-section-padding {
    margin-top: 25%;
    margin-bottom: 25%;
  }
}

sup {
  font-size: 0.75ex;
  position: relative;
  top: -0.25ex;
}
