:root {
  --font-xxs: 1rem;
  --font-xs: 1.4rem;
  --font-small: 1.44rem;
  --font-med: 2rem;
  --font-large: 2.5rem;
  --font-logo-small: 3.2rem;
  --font-logo-medium: 5rem;
	--font-logo-large: 5.6rem;


	/* To replace the rems above later on & better naming system */
	--px-font-xxs: 16px;
	--px-font-xs: 20px;
	--px-font-small: 23px;
	--px-font-xmed: 28px;
	--px-font-med: 32px;
	--px-font-large: 42px;
}
