:root {
  --font-xxs: 16px;
  --font-xs: 22.4px;
  --font-small: 23.04px;
  --font-med: 32px;
  --font-large: 40px;
  --font-logo-small: 51.2px;
  --font-logo-medium: 80px;
  --font-logo-large: 89.6px;
}
