.wrapper {
  --spacing-left: 20px;
  margin-top: 72px;

  h4 {
    font-size: var(--font-small);
    font-weight: normal;
    margin-bottom: 28px;
    padding-left: var(--spacing-left);
  }

  @media (min-width: 576px) {
    --spacing-left: 64px;
  }

  @media (min-width: 864px) {
    --spacing-left: 0;
    max-width: 640px;
    margin: 72px auto 0;

    h4 {
      font-size: var(--font-med);
    }
  }

  @media (min-width: 1152px) {
    max-width: 896px;
  }
}

.worksWrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  width: 100vw;
  padding-left: var(--spacing-left);
  scroll-padding-left: var(--spacing-left);
  scroll-snap-type: x mandatory;
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.card {
  text-decoration: none;
  scroll-snap-align: start;

  p {
    font-size: var(--font-xxs);
    font-weight: normal;
    text-decoration: none;
  }

  &:nth-of-type(1n + 2) {
    margin-left: 12px;
  }

  @media (min-width: 864px) {
    p {
      font-size: var(--font-small);
    }

    &:nth-of-type(1n + 2) {
      margin-left: 24px;
    }
  }
}

.cardSpacer {
  padding-right: calc(100% - 268px);
}

.imageWrapper {
  width: 268px;
  height: 336px;

  & + p {
    margin-top: 20px;
  }

  @media (min-width: 864px) {
    width: 322px;
    height: 404px;
  }

  @media (min-width: 1152px) {
    width: 408px;
    height: 512px;
  }
}
