@import '../../styles/mixins';

.logo {
  font-family: 'Larish Neue', serif;
  @include blendedText;
  position: absolute;
  left: 38px;
  font-size: var(--font-logo-small);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;
  pointer-events: all;
  z-index: 1;

  a {
    display: inline-block;
    text-decoration: none;
  }

  &.is-center {
    top: 40vh;
  }

  &.is-top {
    top: 38px;
  }
}
