@import '../../styles/mixins';

.logo {
  font-family: 'Larish Neue', serif;
  @include blendedText;
  position: absolute;
  left: 22px;
  top: 40px;
  font-size: var(--font-logo-small);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;
}
