.logo {
  @mixin logo;
  margin: 0;
  z-index: 1;
  text-align: left;
  top: 65px;

  @media (--tablet) {
    top: 78px;
    left: 45px;
  }

  @media (--desktop) {
    top: 40px;
  }

  & a {
    display: inline-block;
    pointer-events: auto;
    text-decoration: none;
  }
}
