@import '../../styles/mixins';

.logo {
  font-family: 'Larish Neue', serif;
  @include blendedText;
  position: absolute;
  left: 22px;
  font-size: var(--font-logo-small);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -0.01em;
  pointer-events: all;
  z-index: 1;
  text-align: left;

  a {
    display: inline-block;
    text-decoration: none;
  }

  &.isCenter {
    top: 40vh;
  }

  &.isTop {
    top: 65px;
  }

  @media (min-width: 576px) {
    left: 45px;

    &.isTop {
      top: 78px;
    }
  }

  @media (min-width: 1152px) {
    left: 40px;

    &.isTop {
      top: 40px;
    }
  }
}
