.logo {
  @mixin blendedText;
  @mixin logo;
  font-size: var(--font-logo-small);
  margin: 0;
  pointer-events: all;
  z-index: 1;
  text-align: left;

  @media (--tablet) {
    left: 45px;
  }

  @media (--desktop) {
    top: 40px;
  }

  & :global(a) {
    display: inline-block;
    text-decoration: none;
  }

  &.isTop {
    top: 65px;

    @media (--tablet) {
      top: 78px;
    }

    @media (--desktop) {
      top: 40px;
    }
  }

  &.isCenter {
    top: 40vh;
  }
}
