.frame {
  display: block;
  position: relative;
  contain: layout style paint;
  overflow: hidden;

  video {
   // position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  .jsVideo {
    display: none;
  }

  &.hasJs .jsVideo {
    display: block;
  }
}

.placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity 300ms ease-in;
  display: none;

  .hasJs & {
    display: block;
  }

  .isLoaded & {
    opacity: 0;
  }
}
