.container {
  background: #f8f8f8;
}

.background-transition {
  background: #ff0000;
  animation: fadeOut 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@media (min-width: 600px) {
  body {
    /* font-size: 27px; */
    font-size: 1.4rem;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
