.layout {
  @mixin body-4;
  color: var(--text-color);
  width: 100%;

  @media (--tablet) {
    @mixin body-2;
  }

  & a {
    position: relative;
    color: var(--link-color);
    text-decoration-clor: currentColor;
    text-decoration-thickness: 1px;
    text-underline-position: from-font;
  }

  &:first-child {
    .wrapper:first-of-type {
      padding-top: 268px;
      padding-bottom: 104px;

      @media (--desktop) {
        padding-top: 304px;
        padding-bottom: 100px;
      }
    }
  }
}

.padding {
  padding: 0 20px;

  @media (--tablet) {
    padding: 0 40px;
  }
}

.transitionColorFlash {
  background: var(--blue);
  animation: fadeOut 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
