.nav {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1.4rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  line-height: 1;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: all;

  a {
    display: inline-block;
    text-decoration: none;

    & + a {
      margin-left: 2rem;
    }
  }
}

@media (min-width: 36rem) {
  .nav {
    font-size: var(--font-small);
    padding: 2rem;

    a + a {
      margin-left: 2.4rem;
    }
  }
}

@media (min-width: 72rem) {
  .nav {
    font-size: 1.7rem;
    padding: 2.4rem;

    a + a {
      margin-left: 3.2rem;
    }
  }
}
