.containerConstraint {
  max-width: 904px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3em !important;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
  margin-left: calc(-1 * var(--side-padding));
  padding-left: 20px;
  padding-right: 20px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;

  @media(--tablet) {
    margin-left: calc(-1 * var(--side-padding-raw));
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
  }

  @media(--desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1440px) {
    padding-left: calc((100vw - var(--content-width-wide)) / 2);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}


.title {
  @mixin body-3;
  margin-top: 0;
  margin-bottom: 1em;

  @media (--tablet) {
    @mixin body-1;
    margin-bottom: 1.5em;
  }
}

.intro {
  @mixin body-3;
  margin: 0;

  @media (--tablet) {
    @mixin body-2;
  }
}

.researchTracks {
  .number {
    @media body-1;
    font-size: 140px;
    line-height: 1;
    margin-bottom: 20px;

    @media (--tablet) {
      font-size: 240px;
      margin-bottom: 40px;
    }
  }

  .subtitle {
    @mixin body-2;
    margin-bottom: 1.5em;

    @media (--tablet) {
      @mixin body-1;
      margin-bottom: 2em;
      max-width: 50%;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (--tablet) {
      flex-direction: row;
      gap: 24px;
    }
  }

  .researchCardLink {
    text-decoration: none;
    color: inherit;
  }

  .researchCard {
    background: rgba(246, 246, 246, 1);
    border-radius: 16px;
    padding: 16px;

    @media (--tablet) {
      padding: 16px 16px 24px;
      height: 100%;
    }

    .trackNumber {
      @mixin body-4;
    }

    .title {
      margin: 0;
      max-width: 60%;
      color: black;

      @media (--tablet) {
        @mixin body-2;
        height: 2em;
        max-width: 80%;
        margin-bottom: 2em;
      }
    }

    .summary {
      @mixin body-3;
      display: none;

      @media (--tablet) {
        display: block;
      }
    }
  }
}


.track {
  padding-right: 0 !important;

  .trackNumber {
    @mixin body-4;
  }

  .title {
    @mixin body-3;
    margin-bottom: 1em;
    padding-right: var(--side-padding);

    @media (--tablet) {
      @mixin body-1;
      margin-bottom: 2em;
    }
  }

  .image {
    width: calc(100% - 20px) !important;
    height: auto;
    margin-bottom: 1em;

    @media (--tablet) {
      margin-bottom: 2em;
    }
  }

  .content {
    @mixin body-4;
    white-space: pre-wrap;
    margin-bottom: 3em;
    padding-right: var(--side-padding);

    @media (--tablet) {
      @mixin body-2;
      margin-bottom: 7em;
    }
  }


  .relatedTitle {
    @mixin body-3;
    margin-bottom: 1em;
    @media (--tablet) {
      @mixin body-2;
    }
  }

  .relatedProject {
    width: 80vw;
    flex-shrink: 0;

    @media (--tablet) {
      max-width: 512px;
    }
  }
}

.partnerships {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

    @media (--desktop) {
      display: grid;
      grid-template-columns: 3fr 1fr 2fr;
      grid-template-rows: auto auto auto auto;
      gap: 0;
    }
  }

  .title {
    @mixin body-2;
    margin-bottom: 2em;
    order: 1;
    grid-column: 1;

    @media (--tablet) {
      @mixin body-1;
    }

    @media (--desktop) {
      margin-bottom: 1em;
    }
  }

  .intro {
    @mixin body-4;
    margin-bottom: 1em;
    order: 3;
    grid-column: 1;
    whitespace: pre-wrap;

    @media (--tablet) {
      @mixin body-3;
    }

    @media (--desktop) {
      @mixin body-2;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .media {
    order: 5;
    grid-column: 3;
    grid-row: 1 / 4;
    align-self: top;

    & > div {
      max-width: none !important;
    }
  }

  .readMore {
    @mixin body-4;
    order: 4;
    margin-bottom: 2.5em;
    grid-column: 1;

    @media (--desktop) {
      @mixin body-3;
    }
  }

  .selected {
    @mixin body-3;
    margin-bottom: 1em;

    @media (--tablet) {
      @mixin body-2;
    }
  }

  .table {
    @mixin body-4;
    order: 2;
    margin-bottom: 2em;
    width: 100%;
    background: rgba(247, 247, 247, 1);
    border-radius: 16px;
    padding: 16px;

    display: grid;
    grid-template-columns: max-content;
    align-content: start;
    gap: 0;
    row-gap: 1.5em;
    width: 100%;

    @media (min-width: 310px) {
      grid-template-columns: max-content 1fr max-content;
    }

    @media (min-width: 420px) {
      grid-template-columns: max-content 1fr max-content 1fr max-content;
    }

    @media (--tablet) {
      padding: 32px;
      grid-template-columns: max-content 1fr max-content 1fr max-content 1fr max-content 1fr max-content;
    }

    & > div {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 7;
      align-items: center;

      @media (--tablet) {
        grid-column: span 9;
      }
    }

    .header {
      @mixin small;
      color: rgb(102 102 102);
      text-transform: uppercase;
    }

    .cell:nth-child(1) {
      grid-column: 1;
      line-height: 1;
    }

    .cell:nth-child(2) {
      display: none;
      grid-column: 3;


      @media (--tablet) {
        display: block;
      }
    }

    .cell:nth-child(3) {
      display: none;
      grid-column: 3;

      @media (min-width: 310px) {
        display: block;
      }

      @media (--tablet) {
        grid-column: 5;
      }
    }

    .cell:nth-child(4) {
      display: none;
      grid-column: 5;

      @media (min-width: 420px) {
        display: block;
      }

      @media (--tablet) {
        grid-column: 7;
      }
    }

    .cell:nth-child(5) {
      display: none;

      @media (--tablet) {
        display: block;
        grid-column: 9;
      }
    }
  }
}

.links {
  background-color: #eee !important;
  padding-right: 0 !important;

  .heading {
    @mixin body-3;
    margin-bottom: 2em;
    padding-right: var(--side-padding);

    @media(--tablet) {
      @mixin body-1;
      text-align: center;
      margin-bottom: 3em;
    }
  }

  .scrollContainer {
    padding: 0 var(--side-padding) !important;
    @media(--tablet) {
      overflow-x: hidden;
      gap: 16px !important;
    }
  }

  @media(--tablet) {
    :global(.items-3) .link {
      width: 33%;
    }

    :global(.items-4) .link {
      width: 25%;
    }
  }


  .link {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    flex-shrink: 0;
    width: 66%;
    padding: 16px 16px 32px;

    @media(--tablet) {
      width: 68vw;
    }


    .title {
      display: block;
      margin: 1em 0 0.5em;
      text-decoration: none;
    }

    h3 {
      @mixin body-3;

      @media(--tablet) {
        @mixin body-2;
      }
    }

    p {
      @mixin body-4;
      margin: 0 0 3em;
      white-space: pre-wrap;
    }

    .image {
      aspect-ratio: 4 / 3;
      width: 100%;
      height: auto;
      object-fit: cover;

      img {
        object-fit: cover;
      }
    }

    .bottomText {
      @mixin body-4;
      margin: auto 0 0;
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 8px;

      img {
        width: 44px;
        margin-bottom: 0;
      }
    }
  }
}
