@import '../../styles/mixins';

.nav {
  @include blendedText;
  display: flex;
  position: fixed;
  top: 0;
  padding: 22.4px;
  width: 100%;
  font-size: 19.2px;
  line-height: 1;
  mix-blend-mode: difference;
  pointer-events: all;

  a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.32px;

    & + a {
      margin-left: 32px;
    }
  }
}

@media (min-width: 576px) {
  .nav {
    font-size: var(--font-small);
    padding: 32px;

    a + a {
      margin-left: 38.4px;
    }
  }
}

@media (min-width: 1152px) {
  .nav {
    font-size: 27.84px;
    padding: 38.4px;

    a + a {
      margin-left: 51.2px;
    }
  }
}
