@import '../../styles/mixins';

.nav {
  @include blendedText(black, normal);
  display: flex;
  position: fixed;
  top: 0;
  padding: 22px;
  width: 100%;
  font-size: 19px;
  line-height: 1;
  pointer-events: all;
  z-index: 5;

  @media (min-width: 576px) {
    font-size: var(--font-small);
    padding: 32px 45px 32px 45px;
  }

  @media (min-width: 1152px) {
    font-size: 28px;
    padding: 40px;
    display: block;
    text-align: right;
  }
}


.link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.32px;

  & + .link {
    margin-left: 32px;

    @media (min-width: 576px) {
      margin-left: 38px;
    }

    @media (min-width: 1152px) {
      margin-left: 51px;
    }
  }
}
