@import '../../styles/mixins';

.nav {
  @include blendedText(black, normal);

  display: flex;
  position: fixed;
  top: 0;
  padding: 22px;
  width: 100%;
  font-size: 19px;
  line-height: 1;
  pointer-events: all;

  a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.32px;

    & + a {
      margin-left: 32px;
    }
  }
}

@media (min-width: 576px) {
  .nav {
    justify-content: flex-end;
    font-size: var(--font-small);
    padding: 32px 45px 32px 45px;

    a + a {
      margin-left: 38px;
    }
  }
}

@media (min-width: 1152px) {
  .nav {
    font-size: 28px;
    padding: 38px;

    a + a {
      margin-left: 51px;
    }
  }
}
