.wrapper {
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #000000 95.36%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-bottom: 8rem;
  padding-bottom: 3rem;
}

.copyWrapper {
  display: flex;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 6rem;
  color: #fff;
  font-size: var(--font-med);

  & > div {
    position: relative;
    flex: 1;
  }

  p {
    max-width: 28rem;
    padding: 2rem 1.4rem 0;
  }
}

@media (min-width: 42rem) {
  .listItem {
    flex-direction: row;
    // Font size might change
    font-size: var(--font-med);

    & > div {
      height: 100vh;
    }

    p {
      width: 100%;
      max-width: 32rem;
      padding: 2rem;
    }

    &.reversed {
      flex-direction: row-reverse;

      p {
        max-width: 24rem;
      }
    }
  }
}

@media (min-width: 68rem) {
  .listItem {
    font-size: var(--font-large);

    p {
      margin: 40% 2rem 0 auto;
    }

    &.reversed {
      p {
        margin: 40% auto 0 2rem;
        max-width: 28rem;
      }
    }
  }
}

// @media (min-width: 72rem) {
// }
