.wrapper {
  background: #000;
  color: #fff;
  margin-bottom: 108px;

  @media (min-width: 48rem) {
    margin-bottom: 144px;
  }
}

.listItem {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 96px;
  font-size: var(--px-font-med);

  & > div {
    position: relative;
    flex: 1;
  }

  @media (min-width: 48rem) {
    .listItem {
      flex-direction: row;
      font-size: var(--px-font-med);

      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }
    }
  }

  @media (min-width: 68rem) {
    .listItem {
      font-size: var(--px-font-large);

      p {
        max-width: 520px;
      }
    }
  }
}

.copyWrapper {
  @media (min-width: 48rem) {
    margin: 520px 0 0 120px;

    p {
      width: 100%;
      max-width: 520px;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 48rem) {
  .imageWrapper {
    height: 1000px;
  }
}
