.wrapper {
  background: #000;
  margin-bottom: 144px;
  padding-bottom: 48px;
}

.listItem {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 96px;
  color: #fff;
  font-size: var(--px-font-med);

  & > div {
    position: relative;
    flex: 1;
  }
}

.copyWrapper {
  display: flex;
  align-items: center;

  p {
    padding: 32px 24px 0;
  }
}

@media (min-width: 42rem) {
  .listItem {
    flex-direction: row;
    font-size: var(--px-font-med);

    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
  }

  .copyWrapper {
    p {
      width: 100%;
      max-width: 520px;
      padding: 32px;
    }
  }

  .imageWrapper {
    max-width: 700px;
  }
}

@media (min-width: 68rem) {
  .listItem {
    font-size: var(--px-font-large);

    p {
      max-width: 520px;
      margin: 40% 32px 0 auto;
    }

    &:nth-of-type(2) {
      p {
        margin: 40% auto 0 32px;
      }
    }
  }
}
