.button {
  appearance: none;
  position: fixed;
  top: 32px;
  right: 32px;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: transparent;

  &.isOpen {
    border-color: transparent;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 40% min(84px, 4vw);
  grid-template-rows: 80px auto 80px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.4) transparent;

  .copy {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-height: 100%;
    align-self: center;
    width: 100%;
    overflow-y: auto;
  }

  p {
    @mixin body-2;
    @mixin ff-text-styles;
    margin-bottom: 1em;

    @media (min-height: 1080px) {
      @mixin logo;
      @mixin ff-text-styles;
    }
  }

  &.isOpen {
    opacity: 1;

    p {
      pointer-events: all;
    }
  }
}
