.grid {
  --ui-height: 70px;
  --video-height: calc(100% - (var(--ui-height) * 2));
  --text-color: 255 255 255;
  display: grid;
  grid-template-rows: var(--ui-height) var(--video-height) var(--ui-height);
  grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-size: cover;
  background-position: center center;

  &.hasInvertedColors {
    --text-color: 0 0 0;
  }
}

.close {
  @mixin body-4;
  grid-row: 1 / 2;
  text-align: center;
  width: 100%;
  margin: 12px auto;

  @media (--tablet) {
    order: 1;
    margin: 24px auto ;
  }

  a {
    color: rgb(var(--text-color));
    text-decoration: none;

    &:hover {
      animation: cycle-opacity 1s ease-in-out infinite;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
      content: '';
    }
  }
}

@keyframes cycle-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  grid-row: 2 / 3;

  .frame {
    width: 100%;
    /* Ignore aspect ratio on frame, handle sizing via flex */
    aspect-ratio: unset !important;
  }

  .brokenVideo {
    width: 100%;
    aspect-ratio: 16/9;
    height: 100%;
    background: var(--light-grey);
  }

  img {
    display: none;
  }

  video {
    width: 100%;
    object-fit: contain;
  }

  .isVerticalVideo & {
    height: 100%;
    width: auto;

    .frame,
    video {
      height: 100%;
      width: auto;
    }
  }
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-row: 3 / 4;
}

