.notFoundPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: var(--font-small);
  background: #fff;
  padding-left: 22px;

  div {
    width: 100%;
    max-width: 672px;
    margin: 0 auto;
    padding-top: 50vh;
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      height: 0.05em;
      width: 100%;
      background-color: black;
    }
  }
}

@media (min-width: 576px) {
  .notFoundPage {
    font-size: var(--font-med);
    padding-left: 32px;
  }
}

@media (min-width: 1056px) {
  .notFoundPage {
    font-size: var(--font-large);
    padding-left: 51px;
  }
}
