.container {
  position: relative;
  background: var(--white);
}

.backgroundTransition {
  background: red;
  animation: fadeOut 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.preview {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 8px 12px;
  text-align: center;
}
