.videoWrapper {
  position: relative;

  &:hover {
    .videoControls {
      opacity: 1;
    }
  }
}

.videoControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 19px;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-user-select: none;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 102px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    pointer-events: none;
    z-index: 0;
  }

  button {
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 64px;
    border: none;
    padding: 0;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    pointer-events: all;
    z-index: 1;
  }
}

.beforeFirstPlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 19px;
  -webkit-user-select: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
