.backScrim {
  position: absolute;
  bottom: 0;
  height: 15.2rem;
  width: 100%;
  font-size: 1rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.isVisible {
  opacity: 1;
}

.backButton {
  position: absolute;
  bottom: 1.4rem;
  left: 1.4rem;
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  pointer-events: all;
  text-decoration: none;
}

.intersectionLine {
  position: absolute;
  height: 1px;
  width: 100%;
}

@media (min-width: 36rem) {
  .backButton {
    bottom: 2rem;
    left: 2rem;
  }
}

@media (min-width: 48rem) {
  .backScrim {
    height: 24rem;
  }
}
