.blurb {


  @mixin body-3;


  width: 100%;
  margin-bottom: 80px;

  @media screen and (min-width: 768px){
    max-width: 768px;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  @media screen and (min-width: 960px){
    @mixin body-1;
  }

  p:not(:last-of-type) {
    margin-bottom: 1.2em;
  }

  @media (--desktop) {
    margin-bottom: 112px;
  }
}
