.backScrim {
  @mixin body-4;
  position: absolute;
  bottom: -100px;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-out;

  @media (min-width: 576px) {
    bottom: -160px;
  }
}

.isVisible {
  opacity: 1;
}

.backButton {
  position: absolute;
  bottom: 22px;
  left: 22px;
  background: var(--white);
  border-radius: 32px;
  padding: 10px 19px;
  pointer-events: all;
  text-decoration: none;

  @media (min-width: 576px) {
    bottom: 32px;
    left: 32px;
  }
}

.intersectionLine {
  position: absolute;
  height: 1px;
  width: 100%;
}
