.wrapper {
  position: relative;
  margin-bottom: 108px;

  @media (max-width: 48rem) {
    background: #000;
    color: #fff;
  }

  @media (min-width: 48rem) {
    margin-bottom: 144px;
  }

  @media (min-width: 60rem) {
    display: flex;
    flex-flow: row wrap;
  }
}
