@font-face {
  font-family: "Random Regular";
  src: url("/fonts/Random-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Larish Neue";
  src: url("/fonts/LarishNeueSemibold-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Random Regular";
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.01em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  font-size: 27px;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.background-transition {
  background: red;
  animation: fadeOut 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
