.nav {
  position: fixed;
  padding: 40px;
  line-height: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 15em;
  pointer-events: all;
  z-index: 999;
  mix-blend-mode: difference;
  color: white;
}

.nav a {
  text-decoration: none;
}
