.project {
  background: rgb(191, 191, 191);
  width: 100%;
  line-height: 1.3em;
  font-weight: 100;
  padding: 5vh 0;
}

.item {
  line-height: 1.3em;
  position: relative;
}

.item video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;
}

.title,
.intro {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: normal;
}

.title {
  margin-bottom: 1.2931578947em;
}

.intro {
  margin-top: 1.2931578947em;
}

.text {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: auto;
}

.caption {
  font-size: 16px;
  line-height: 1.3em;
  max-width: 24em;
  padding: 0.5em;
}

.credits {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 15vw;
  border-collapse: collapse;
  border-spacing: 0;
}

.credits td {
  vertical-align: baseline;
}

.key {
  padding-right: 50px;
}

.key::after {
  content: ":";
}
