.carousel {
  position: relative;
}

.slides {
  position: relative;
  cursor: e-resize;
}

.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;

  &:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  &[data-visible="false"] {
    pointer-events: none;
  }

  &[data-visible="true"] {
    transition: opacity 1.2s;
    opacity: 1;
  }

}

.caption {
  @mixin body-4;
  padding: 16px 0 0 60px;

  @media (--tablet) {
    padding-top: 24px;
  }
}
