.carousel {
  position: relative;
}

.slides {
  position: relative;
  cursor: e-resize;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;

  &:not(:first-of-type),
  &:not(:first-of-type) > div {
    position: absolute !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  & video {
    width: 100%;
  }

  &[data-visible="false"] {
    pointer-events: none;
  }

  &[data-visible="true"] {
    transition: opacity 1.2s;
    opacity: 1;
  }

}

.caption {
  @mixin body-4;
  padding: 12px 0 0 60px;
}
