.wrapper {
  font-size: var(--px-font-med);
  margin-bottom: 3rem;;
  padding: 2rem 1.4rem 0;
}

@media (min-width: 42rem) {
  .wrapper {
    max-width: 580px;
    margin-left: 120px;
    margin-bottom: 48px;

  }
}

@media (min-width: 68rem) {
  .wrapper {
    max-width: 780px;
    font-size: var(--px-font-large);
    margin-left: 220px;
    margin-bottom: 48px;
  }
}
