.wrapper {
  font-size: var(--font-med);
  margin-bottom: 3rem;;
  padding: 2rem 1.4rem 0;
}

@media (min-width: 42rem) {
  .wrapper {
    max-width: 580px;
    margin-left: 120px;
    margin-bottom: 48px;
  }
}

@media (min-width: 68rem) {
  .wrapper {
    max-width: 760px;
    font-size: 42px;
    margin-left: 220px;
    margin-bottom: 48px;
  }
}
