.frame {
  position: relative;
  overflow: hidden;
  .video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  // overwrite playerjs styles to make the video fluid
  :global(.video-js) {
    width: 100%;
    height: 100% !important;
    padding: 0 !important;
    background-color: var(--background-color);

    video {
      position: relative;
    }

    // Custom video player styling
    :global(.vjs-control-bar) {
      max-width: 600px;
      background-color: none;
      margin-left: 8rem;
    }
  }
}

.brokenVideo {
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
  background: var(--light-grey);
}

.placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 300ms ease-in;
  filter: blur(5px);
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;

  .isLoaded & {
    opacity: 0;
  }
}
