.section {
  margin: 0 -20px;



  @media screen and (min-width: 720px){
    margin: 0 -40px;
  }

  @media screen and (min-width: 720px){
    display: flex;
    > div {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width: 1280px){
    /*
    * Bootstrap approach to making full-width row in a fixed width container
    * 1192px is the container width
    */
    margin: 0 calc((100vw - 1192px) / 2 * -1);
  }


  p {
    @mixin body-4;

    @media screen and (min-width: 960px){
      @mixin body-2;
    }
  }
}

.reverse {
  @media screen and (min-width: 720px){
    flex-direction: row-reverse;
  }
}


.content {
  max-width: 257px;
  margin: 0 auto;


  padding: 3.1rem 0;

  @media screen and (min-width: 960px){
    max-width: 498px;
  }

  p:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

.title {

  @mixin body-3;

  @media screen and (min-width: 960px){
    @mixin body-1;
  }

  margin-bottom: 1.25em;
}



/* Below class names must match
 * the options available on DATO CMS
 */

.green {
  background: var(--green);
}

.black {
  background: var(--black);
  color: var(--white);
}

.grey {
  background: var(--off-white);
}
