.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-xxs);
  line-height: 1.375;
  padding: 22.4px;
  max-width: 448px;

  @media (min-width: 576px) {
    padding: 32px;
    max-width: none;
  }

  @media (min-width: 1152px) {
    padding: 38.4px;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 0.8px;
      width: 100%;
      background-color: #000;
    }
  }
}

.studio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 2;
  max-width: 448px;

  @media (min-width: 864px) {
    order: 1;
  }

  div:last-of-type {
    a:first-of-type::after {
      display: none;
    }
  }
  .email-desktop {
    display: block !important;
  }
  .email-mobile {
    display: none !important;
  }
}

.address {
  a {
    display: inline-block;
  }
}

// Remove underline of phonenumber
.phone::after {
  display: none;
}

.email-desktop,
.email-value {
  display: none !important;
}

.notice {
  font-size: var(--font-xs);
  background-color: black;
  color: white;
  position: fixed;
  bottom: 32px;
  left: 50%;
  opacity: 0;
  transition: opacity 300ms ease-out 0ms,
    transform 1ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 301ms;
  transform: translateX(-50%) translateY(4rem);
  padding: 0 12px;
  border-radius: 16px;
}

.notice-is-visible {
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
