.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-xxs);
  line-height: 1.375;
  padding: 22px;
  max-width: 448px;

  @media (min-width: 576px) {
    padding: 32px;
    max-width: none;
  }

  @media (min-width: 1152px) {
    padding: 38px;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--black);
    }
  }
}

.studio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 2;
  max-width: 448px;

  @media (min-width: 864px) {
    order: 1;
  }

  div:last-of-type {
    a:first-of-type::after {
      display: none;
    }
  }
  .email-desktop {
    display: block !important;
  }
  .email-mobile {
    display: none !important;
  }
}

.address {
  a {
    display: inline-block;
  }
}

// Remove underline of phonenumber
.phone::after {
  display: none;
}

.email-desktop,
.email-value {
  display: none !important;
}
