.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-xxs);
  line-height: 1.375;
  padding: 22px;
  max-width: 448px;

  @media (min-width: 576px) {
    padding: 32px;
    max-width: none;
  }

  @media (min-width: 1152px) {
    padding: 38px;
  }

  :global(a) {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--black);
    }
  }
}

.studio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  order: 3;
  max-width: 600px;
  width: 100%;

  @media (min-width: 864px) {
    order: 1;
  }

  div:last-of-type {
    a:first-of-type::after {
      display: none;
    }
  }
}

.social::after {
  display: none;
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  order: 1;
  margin-bottom: 32px;
  padding-top: 1.375em;

  @media (min-width: 864px) {
    width: auto;
    max-width: none;
    order: 2;
    margin-bottom: 0;
    flex-direction: row;
  }
}


.column {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 2;
}

.bcorp {
  order: 3;
  margin-top: 2.750em;


  @media (min-width: 864px) {
    margin-bottom: 14px;
    margin-left: 50px;
    align-self: flex-end;

  }

  @media (min-width: 1090px) {
    order: 1;
    margin-left: 0;
    margin-right: 50px;
  }
}

.bcorp::after {
  display: none;
}

.socials {
  display: block;
  margin-top: 10px;

  @media (min-width: 864px) {
    margin-top: 88px;
  }

  .social {
    margin: 10px 0px;
    margin-right: 25px;
    display: inline-block;
  }
}
