.wrapper {
  flex: 1;
  font-size: var(--px-font-large);

  h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-weight: normal;
  }
}

.listWrapper {
  line-height: 52px;
}

@media (min-width: 48rem) {
  .wrapper {
    margin: 0;

    h3, .listWrapper {
      padding-left: 120px;
    }
  }
}
