.imageBlock {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  min-height: 100vh;

  div {
    height: 100%;
  }

  .headerTitle {
    display: inline-block;
    position: relative;
    bottom: 180px;
    left: 20px;

    img {
      margin-top: 20px;
    }
  }

  @media (min-width: 48rem) {
    height: 1000px;

    .headerTitle {
      left: 120px;
    }
  }

  @media (min-width: 60rem) {
    position: relative;
    height: 1280px;
    width: 49%;

    &:nth-of-type(1) {
      order: 2;
    }

    &:nth-of-type(3) {
      order: 3;
    }

    .headerTitle {
      display: none;
      opacity: 1 !important; // Overwrite framer-motion caluclations
    }
  }
}

.imageWrapper {
  // Overwrite framer-motion transform on breakpoint
  @media (min-width: 60rem) {
    transform: scale(1) !important;
  }
}

.fluidImage {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, 0.4);

  @media (min-width: 60rem) {
    display: none;
  }
}

.headerTitle,
.listItem {
  font-size: var(--px-font-xmed);
  font-weight: normal;

  @media (min-width: 48rem) {
    font-size: var(--px-font-med);
  }

  @media (min-width: 60rem) {
    font-size: var(--px-font-large);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin-bottom: 96px;

  @media (min-width: 48rem) {
    flex-direction: row;

    & > div {
      position: relative;
      flex: 1;
    }
  }

  @media (min-width: 60rem) {
    display: inline-block;
    flex: 1;
    width: 50%;

    p {
      max-width: 520px;
    }

    &:nth-of-type(2) {
      order: 1;
    }

    &:nth-of-type(4) {
      order: 4;
    }
  }
}

.copyWrapper {
  margin: 0 20px;
  z-index: 10;

  .headerTitle {
    margin-bottom: 40px;
  }

  p {
    max-width: 520px;
  }

  @media (max-width: 60rem) {
    .headerTitle {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    margin-left: 120px;

    p {
      width: 100%;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
  @media (min-width: 60rem) {
    margin-top: 440px;

    &:nth-of-type(1) {
      margin-top: 360px;
    }
  }

  @media (min-width: 68rem) {
    margin-top: 640px;

    &:nth-of-type(1) {
      margin-top: 600px;
      margin-top: 60%;
    }
  }

  @media (min-width: 90rem) {
  } // Wide screen 1440+
}

.parallaxFront {
  @media (max-width: 60rem) {
    // Scale = (perspective - zTransalation) / perspective | Perspective is set iin HighlightBlock.module.scss
    // Translate Y is eyeballed to correctly align
    transform: translate3d(0, 80%, 6px) scale(0.25);
    transform-origin: top left;

    &:nth-of-type(4) {
      transform: translate3d(0, -85%, 6px) scale(0.25);
    }
  }
}
