.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

.headerTitle,
.listItem {
  font-size: var(--px-font-xmed);
  font-weight: normal;

  @media (min-width: 48rem) {
    font-size: var(--px-font-med);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin-bottom: 96px;


  @media (min-width: 48rem) {
    .listItem {
      flex-direction: row;

      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }

      & > div {
        position: relative;
        flex: 1;
      }
    }
  }

  @media (min-width: 68rem) {
    .listItem {
      font-size: var(--px-font-large);

      p {
        max-width: 520px;
      }
    }
  }
}

.copyWrapper {
  margin: 0 20px;
  z-index: 10;

  .headerTitle {
    margin-bottom: 40px;
  }

  p {
    max-width: 520px;
  }

  @media (min-width: 48rem) {
    margin: 520px 0 0 120px;

    p {
      width: 100%;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

.imageWrapper {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  height: 100vh;

  div {
    height: 100vh;
  }

  .headerTitle {
    position: relative;
    bottom: 120px;
    left: 20px;

    img {
      margin-top: 20px;
    }
  }

  @media (min-width: 48rem) {
    height: 1000px;
  }
}

.fluidImage {
  height: 100%;
}
