.container {
  margin: 0 auto;
}

.hasHorizontalConstraint {
  max-width: 1192px;
}

.hasVerticalPadding {
  padding-top: 160px;
  padding-bottom: 104px;

  @media (--tablet) {
    padding-top: 268px;
  }
  @media (--desktop) {
    padding-top: 304px;
    padding-bottom: 100px;
  }
}

