.video {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.videoWrapper {
  width: 100%;
  max-height: 100vh;
  min-height: 60vh;

  & video {
    width: 100%;
    height: 100%;
  }
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.featuredAuthor {
  color: white;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  line-height: 1;
  padding: 16px 22px;
  text-align: right;
  z-index: 1;
}

.creditsLogo {
  font-family: 'Larish Neue', serif;
  letter-spacing: -0.01em;
}

@media (min-width: 576px) {
  .featuredAuthor {
    text-align: right;
  }

  .logo {
    left: 64px;

    &.isCenter {
      font-size: var(--font-logo-medium);
    }

    &.isTop {
      top: 45px;
    }
  }
}

@media (min-width: 864px) {
  .logo {
    right: 0;
    left: 0;
    max-width: 768px;

    &.isCenter {
      margin: 0 auto;
      padding-left: 64px;
    }

    &.isTop {
      margin: 0;
      padding-left: 38px;
    }
  }
}

@media (min-width: 1152px) {
  .logo {
    max-width: 1152px;

    &.isCenter {
      font-size: var(--font-logo-large);
    }
  }
}
