.video {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.videoWrapper {
  width: 100%;
  max-height: 100vh;
  min-height: 60vh;

  & video {
    width: 100%;
    height: 100%;
  }

  :global(.controls) {
    display: none;

    @media (hover: hover) and (pointer: fine){
      display: block;
    }
  }
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.featuredAuthor {
  @mixin font-xxs;
  color: white;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1;
  padding: 16px 22px;
  text-align: left;
  z-index: 1;
}

.creditsLogo {
  @mixin font-xxs;
}

@media (min-width: 576px) {
  .logo {
    top: 45px;
    left: 64px;
  }
}

@media (min-width: 864px) {
  .logo {
    right: 0;
    left: 0;
    max-width: 768px;
    margin: 0;
    padding-left: 38px;
  }
}

@media (min-width: 1152px) {
  .logo {
    max-width: 1152px;
  }
}
