.wrapper {
  position: relative;
  margin-bottom: 108px;
  transform-style: preserve-3d;

  @media (max-width: 960px) {
    background: var(--black);
    color: var(--white);
  }

  @media (min-width: 768px) {
    margin-bottom: 144px;
  }

  @media (min-width: 960px) {
    display: flex;
    flex-flow: row wrap;
  }
}
