.wrapper {
  position: relative;
  contain: layout style paint;
}

.image {
  width: initial !important;
  height: initial !important;
  opacity: 0;
  transition: opacity 300ms ease-out;

  .isLoaded & {
    background-color: #f8f8f8;
    opacity: 1;
  }
}

.placeholder {
  position: relative;
  width: 100%;
}
