.wrapper {
  position: relative;
  contain: all;
}

.image {
  width: initial !important;
  height: initial !important;
  opacity: 0;
  transition: opacity 300ms ease-out;

  .isLoaded & {
    opacity: 1;
  }
}

.placeholder {
  position: relative;
  width: 100%;
  opacity: 1;

  .isLoaded & {
    opacity: 0;
    transition: opacity 300ms ease-out 200ms;
  }
}
