.vacancy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 52px 32px 0;
  color: var(--black);
  background: var(--white);
  z-index: 10;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  pointer-events: all;

  & * {
    font-weight: normal;
  }

  header {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    max-width: 700px;
    margin: auto;
    strong {
      font-size: var(--font-small);
    }
  }

  & > div {
    max-width: 700px;
    margin: auto;
  }

  button {
    border: none;
    border-radius: 0;
    background: none;
  }

  .closeButton,
  .applyButton {
    outline: none;
  }

  .closeButton {
    width: 40px;
    font-size: var(--font-small);
    font-weight: 700;
    text-align: end;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }

  .applyButton {
    display: inline-block;
    margin: 32px auto 52px;
    border: 1px solid var(--black);
    padding: 16px;
    text-decoration: none;
  }
}

.description {
  white-space: pre-wrap;

  p {
    margin-bottom: 0.5em;
  }

  em {
    font-style: normal;
  }

  h3 {
    margin: 1em 0 0.5em;
  }

  ul {
    list-style: none;
    margin: 0 0 1em 16px;
    padding: 0;
    white-space: normal;
  }

  li {
    margin-bottom: 0.25em;
    &::before {
      content: '-';
      position: absolute;
      letter-spacing: 0.02em;
      margin-left: -12px;
    }
  }

}

@media (min-width: 576px) {
  .jobOffer {
    header {
      margin-bottom: 20px;
      strong {
        font-size: var(--font-med);
      }
    }

    .closeButton {
      font-size: var(--font-med);
    }
  }
}
