@define-mixin logo-text-styles {
  font-family: 'Larish Neue', serif;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: left;
}

@define-mixin base-text-styles {
  font-family: 'ABC Oracle', 'Random Regular', 'Random', Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
}

@define-mixin logo {
  /* Text Style Body-1 */
  @mixin logo-text-styles;
  font-size: 46px;
  line-height: 54px;
}

@define-mixin body-1 {
  /* Text Style Body-1 */
  @mixin base-text-styles;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.8px;
}

@define-mixin body-2 {
  /* Text Style Body-2 */
  @mixin base-text-styles;
  font-size: 28px;
  line-height: 36px;
}

@define-mixin body-3 {
  /* Text Style Body-3 */
  @mixin base-text-styles;
  font-size: 22px;
  line-height: 30px;
}

@define-mixin body-4 {
  /* Text Style Body-4 */
  @mixin base-text-styles;
  font-size: 16px;
  line-height: 22px;
}

@define-mixin small {
  /* Text Style Small */
  @mixin base-text-styles;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.56px;
}
