@define-mixin h3 {
  font-family: "Oracle";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 13.2px */
}

@define-mixin body {
  font-family: "Oracle";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 11px */
}