.recruitee {
  font-size: var(--font-small);
  height: min-content;
  align-self: flex-end;
  margin-bottom: 300px;

  @media (min-width: 36rem) {
    font-size: var(--px-font-large);
  }

  @media (min-width: 48rem) {
    width: 50%;
    padding: 0 120px 0 120px;
  }
}

.list {
    margin: 0;
    padding: 0.8rem 0 0.6rem;
    list-style: none;
}

.title {
  font-size: 24px;
  margin-bottom: 22px;
  text-transform: uppercase;

  @media (min-width: 36rem) {
    margin-bottom: 24px;
  }

  @media (min-width: 50rem) {
    flex: 1;
    max-width: 45%;
  }
}

.role {
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(black, black);
  background-size: 0.05em 1px, 0.05em 1px, 1px 0.07em;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 87%, 100% 87%, 0 100%;
  text-decoration: none;
  line-height: 52px;

  &:hover {
    opacity: 0.5;
    transition: opacity 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
  }
}
