.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  //pointer-events: none;
  opacity: 0;
  transition: opacity 4000ms ease-in 500ms;

  &.is-visible {
    opacity: 1;
  }
}
